@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body{
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
:root{
    --Very-dark-blue: hsl(240, 100%, 5%);
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
}



/* HAMBURGER MENU */
.hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
    background-color: transparent;
    border: none;
}

.hamburger-top,.hamburger-middle,.hamburger-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 26.5px;
    height: 2.5px;
    background-color: var(--Very-dark-blue);
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle{
    transform: translateY(7px);
    transition: 0s;
}

.hamburger-bottom{
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle{
    display: none;
}
.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}




/* OVERLAY */
.overlay.close{
    max-width: 0svw;
    opacity: 0;
    max-height: 0svh;
    /* display: none; */
    transition: all 0.5s ease linear;
    transition: max-height 1s ease linear, opacity 0.5s ease linear;
}

.overlay.open{
    opacity: 1;
    max-width: 50svw;
    min-height: 10svh;
    display: block;
    padding: 1.5em 2em;
}

.overlay ul{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.overlay a{
    font-size: 1.15em;
    font-weight: 600;
}
